<section>
  <p>Change Maker is a <a href="<%= github_docs %>">collection of open source projects</a> created by <a href="https://joe8bit.com">Joe Pettersson</a> as a teaching aide used to demonstrate how to build and deploy full-stack, production JavaScript applications.</p>
  <p>At it's heart is a solution to the <a href="https://en.wikipedia.org/wiki/Change-making_problem">change-making problem</a>, whereby the following question is addressed: how can a given amount of money be made with the least number of coins of given denominations?</p>
</section>

<section>
  <h2>How do I use it?</h2>
  <p>There's currently one way of utilising the public change-making functionality:</p>
  <ul>
    <li>Via the <a href="https://api.change-maker.io/documentation">change-maker API</a></li>
  </ul>
  <p>You can, of course, run/modify your own versions of the project (or any of it's components).</p>
</section>
